.component_infoCenter{
	height: 100%;
	min-width: 830px;
	position: relative;
}

.component_infoCenter>nav .nav{
	padding-left: 10px;
	margin: 0px;
}

.component_infoCenter>nav .nav>li{
	float: left;
}

.component_infoCenter>nav .nav>li.active{
    background-color: transparent!important;
}

.component_infoCenter>nav .nav>li>a{
    font-weight: normal;
    color: #4a5357;
    padding: 18px 20px 24px 20px;
    font-size: 14px;
}

.component_infoCenter>nav .nav>li>a:focus,
.component_infoCenter>nav .nav>li>a:hover{
    color: #317290!important;
    background-color: transparent!important;
}

.component_infoCenter>nav .nav>li.active>a{
    box-shadow: 0 -5px 0 0 #67bbaa inset;
}

@media(max-width: 768px){
	.component_infoCenter>nav .nav>li.active>a{
    	box-shadow: 0 -6px 0 0 #67bbaa inset;
	}
}

.component_infoCenter>nav .nav>li.active>a,
.component_infoCenter>nav .nav>li.active>a:focus,
.component_infoCenter>nav .nav>li.active>a:hover{
    color: #317290!important;
    background-color: transparent!important;
}

.component_infoCenter>nav .nav>li>a>span.badge{
    padding: 3px 7px 3px 7px;
    margin-left: 3px;
    background-color: #f8ac59;
    color: #fff;
}

.component_infoCenter>nav .nav>li[data="warns"]>a>span.badge{
    background-color: #ed5565;
}

.component_infoCenter>nav .fa-refresh{
    position: absolute; 
    top: 24px; 
    left: 310px; 
    font-size: 18px; 
    color:#356880; 
    cursor:pointer;
    opacity: 0.7;
}

.component_infoCenter>nav .fa-refresh:hover{
    opacity: 1;
}

.component_infoCenter>.content{
    top: 62px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #f3f3f4;
    position: absolute;
    box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
}

.component_infoCenter>.content>div{
    height: 100%;
    width: 100%;
    display: none;
    position: relative;
}