<div>
    <div class="mdList customScrollBar">
        <ul></ul>
    </div>
    <div class="mdContent showRange">
        <div class="topSearch">
            <i class="fa fa-calendar-check-o hvr-push switchTmSel" title="切换时间选择方式"></i>
            <form class="form-inline">
                <div class="form-group  form-group-sm">
                    <label>起始时间:</label>
                    <input type="text" class="form-control stm tm">
                </div>
                <div class="form-group  form-group-sm">
                    <label>结束时间:</label>
                    <input type="text" class="form-control etm tm">
                </div>
                <button type="button" class="btn btn-primary" style="width: 80px">查询</button>
            </form>
            <div class="tmRange">
                <label class="col-md-3 col-sm-3">时间范围:</label>
                <div class="col-md-9 col-sm-9">
                    <input type="text"/>
                </div>
            </div>
        </div>
        <div class="metaDataDiv">
        </div>
    </div>
</div>