<div>
    <div class="my3rdMain">
        <div class="col-md-7 col-sm-7">
            <div class="ibox used3rd">
                <div class="ibox-title" style="border-color: #ccc">
                    <h5>使用的服务</h5>
                </div>
                <div class="ibox-content">
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-5">
            <div class="ibox created3rd">
                <div class="ibox-title" style="border-color: #f7a54a">
                    <h5>创建的服务</h5>
                    <i class="fa fa-plus-circle pull-right" title="创建服务"></i>
                </div>
                <div class="ibox-content">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog modal-lg" role="document" style="min-width: 900px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">创建服务</h4>
                </div>
                <div class="modal-body" style="padding: 0px">
                </div>
            </div>
        </div>
    </div>
    <div class="iframeContainer">
        <div class="iframeNav">
            <i class="fa fa-long-arrow-left"></i>
            <div><span class="title"></span></div>
            <div></div>
        </div>
        <iframe></iframe>
    </div>
</div>