.component_deviceMgr{
	height: 100%;
	min-width: 750px;
	position: relative;
}

.component_deviceMgr>nav .nav{
	padding-left: 10px;
	margin: 0px;
}

.component_deviceMgr>nav .nav>li{
	float: left;
}

.component_deviceMgr>nav .nav>li.active{
    background-color: transparent!important;
}

.component_deviceMgr>nav .nav>li>a{
    font-weight: normal;
    color: #4a5357;
    padding: 18px 20px 24px 20px;
    font-size: 14px;
}

.component_deviceMgr>nav .nav>li>a:focus,
.component_deviceMgr>nav .nav>li>a:hover{
    color: #317290!important;
    background-color: transparent!important;
}

.component_deviceMgr>nav .nav>li.active>a{
    box-shadow: 0 -5px 0 0 #67bbaa inset;
}

@media(max-width: 768px){
	.component_deviceMgr>nav .nav>li.active>a{
    	box-shadow: 0 -6px 0 0 #67bbaa inset;
	}
}

.component_deviceMgr>nav .nav>li.active>a,
.component_deviceMgr>nav .nav>li.active>a:focus,
.component_deviceMgr>nav .nav>li.active>a:hover{
    color: #317290!important;
    background-color: transparent!important;
}

.component_deviceMgr>nav .nav>li.append a,
.component_deviceMgr>nav .nav>li.delete a{
	padding: 20px 3px 16px 3px;
    margin-left: 20px;
    font-size: 26px;
}

.component_deviceMgr>nav .nav>li.append i{
	color: #4CA293;
}

.component_deviceMgr>nav .nav>li.delete i{
	color: #ed5565;
}

.component_deviceMgr>nav .nav>li.append i:hover{
    color: #469594;
}

.component_deviceMgr>nav .nav>li.delete i:hover{
	color: #d9534f;
}

.component_deviceMgr>nav .nav>li.ok a,
.component_deviceMgr>nav .nav>li.cancel a{
	padding: 25px 3px 16px 3px;
    margin-left: 20px;
}

.component_deviceMgr>nav .nav>li.ok a{
	color: #ed5565!important;
}

.component_deviceMgr>nav .nav>li.cancel a{
	color: #2b2b2b!important;
}

.component_deviceMgr>.content{
    top: 62px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #EAEAEA;
    position: absolute;
}

.component_deviceMgr>.content>div{
    height: 100%;
}

.component_deviceMgr>.content>div.list{
    width: 300px;
    float: left;
    padding: 10px;
    box-shadow: 5px 6px 12px 0px #dedede;
}

.component_deviceMgr>.content>div.detail{
    position: absolute;
    left: 300px;
    right: 0rem;
    top: 0rem;
    bottom: 0rem;
    padding: 10px 15px 15px 10px;
}

@media(min-width: 940px){
	.component_deviceMgr>.modal>.modal-dialog{
		min-width: 900px;
	}
}

