<div>
    <div class="smsHead">
        <span style="font-weight: bold; width: 120px;">图片存储空间</span>
        <div style="min-width: 180px;">
            <div class="progress" style="margin-bottom: 10px; height: 16px; background-color: rgba(232,234,237,0.65)">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                    <span class="sr-only">0% 已用</span>
                </div>
            </div>
            <span class="processDesc" style="color: #969696; font-size: 12px">
                0 张剩余，共 0 张
            </span>
        </div>
        <a style="padding-left: 30px;">升级</a>
    </div>
    <div class="imageChart">
    </div>
</div>