<div class="container-fluid">
    <div class="row">
        <form class="text-center center animated fadeInDown">
         	 <div class="icon">
         		<h2>用户注册</h2>
         	 </div>
         	 <div class="form-group fg1">
         	 	<div class="steps">
				  <div class="step1">
				  	<input type="text" class="form-control uid" placeholder="邮箱">
				  	<input type="password" class="form-control pwd" placeholder="密码">
				  	<input type="password" class="form-control pwd2" placeholder="再次输入密码">
				  	<button type="button" class="btn btn-primary next">下一步</button>
				  </div>
				  <div class="step2">
				    <input type="text" class="form-control name" placeholder="用户名">
				  	<input type="text" class="form-control phone" placeholder="手机号">
				  	<div class="verifyDiv">
				  		<input type="text" class="form-control verify" placeholder="验证码">
				  		<button type="button" class="btn btn-link"  disabled="disabled">获取</button>
				  	</div>
				  	<button type="button" class="btn btn-success prev">上一步</button>
				  	<button type="button" class="btn btn-primary next">完成</button>
				  </div>
				  <div class="step3">
				  	恭喜，即将开启您的物联网之旅.。
				  	5秒后，将跳转至 <a href="javascript:void(0);">主应用</a>
				  </div>
				</div>
         	 </div>
             <div class="form-group fg2">
                 <nav class="navSteps">
                 	<ol>
					    <li class="step1 current"><em></em></li>
					    <li class="step2"><em></em></li>
					    <li class="step3"><em></em></li>
					</ol>
			 	</nav>
             </div>
         </form>
         <p class="copyright">
             <small>© 2016 ckxhtd.com, all rights reserved</small>
         </p>
    </div>
</div>

