<div>
    <div class="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a href="javascript:void(0);" data-toggle="collapse" data-parent=".component_userAccount_widget_subAccount .panel-group" aria-expanded="true" data-target=".component_userAccount_widget_subAccount .panel-group .userMgr">
                        子用户
                    </a>
                </h4>
            </div>
            <div class="userMgr panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a href="javascript:void(0);" data-toggle="collapse" data-parent=".component_userAccount_widget_subAccount .panel-group"  data-target=".component_userAccount_widget_subAccount .panel-group .roleMgr">
                        角色管理
                    </a>
                </h4>
            </div>
            <div class="roleMgr panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>