<div>
    <div class="mrContent">
        <div class="top" style="padding: 15px 10px 5px 10px; border-bottom: 1px solid #e0e1e2">
            <div class="searchField" style="padding: 5px 0px;">
                <span style="margin: 7px 2px 0px 10px; font-weight: bold;">处理中 </span><span class="badge executing" style="color: #fff"></span>
                <div style="margin-right: 10px;" class="pull-right">
                    <div class="input-group input-group-sm" style="max-width: 300px">
                        <input type="text" class="form-control" placeholder="工单内容">
                        <span class="input-group-btn">
                            <button class="btn btn-default search" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div style="padding: 10px; position: relative; height: 55px;">
                <div class="pull-left instance" style="margin-top: 20px;">
                    <span class="level level1"></span>
                    <span>处理中</span>
                    <span class="level level2" style="margin-left: 15px;"></span>
                    <span>已关闭</span>
                </div>
                <div class="pull-right warnPage">
                    <i class="fa fa-arrow-left"></i>
                    <i class="fa fa-arrow-right"></i>
                    <input type="text" class="form-control currentPage">
                    <span>/&nbsp;</span>
                    <span class="totalPage"></span>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="list customScrollBar">
                <table class="recContainer" style="width:100%;">
                </table>
            </div>
            <div class="detail">
                <div class="actionBar">
                    <button type="button" class="btn btn-default btn-rounded recClose"><i class="fa fa-close"></i>&nbsp;&nbsp;关 闭</button>
                    <button type="button" class="btn btn-warning btn-rounded recResponse"><i class="fa fa-commenting"></i>&nbsp;&nbsp;反 馈</button>
                    <span class="closeDetail pull-right"><div></div></span>
                </div>
                <div class="recDetail customScrollBar">
                    <div class="recDetailCC"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">工单反馈</h4>
                </div>
                <div class="modal-body" style="padding: 5px 5px 0px 5px">
                    <textarea style="height: 200px; width: 100%" class="form-control"></textarea>
                    <div class="imgAdder">
                        <div class="imgAdderCC">
                            <div class="tmp">上传照片</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border: none;">
                    <button type="button" class="btn btn-primary" style="width: 100px;">保 存</button>
                </div>
            </div>
        </div>
    </div>
</div>