<div>
    <div class="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a href="javascript:void(0);" data-toggle="collapse" data-parent=".component_userAccount_widget_resource .panel-group" aria-expanded="true" data-target=".component_userAccount_widget_resource .panel-group .resMgr">
                        我的资源
                    </a>
                </h4>
            </div>
            <div class="resMgr panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a href="javascript:void(0);" data-toggle="collapse" data-parent=".component_userAccount_widget_resource .panel-group"  data-target=".component_userAccount_widget_resource .panel-group .billMgr">
                        升级记录
                    </a>
                </h4>
            </div>
            <div class="billMgr panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document" style="max-width: 450px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body" style="padding: 0px;">
                </div>
            </div>
        </div>
    </div>
</div>