<div>
	<form class="form-horizontal">
        <div class="form-group form-group-sm">
            <label class="col-sm-3 col-md-3 control-label">检查延时：</label>
            <div class="col-sm-2 col-md-2">
                <input type="text" class="form-control delay" placeholder=">=120" value="300"> 
            </div>
            <span style="line-height: 30px;">秒</span>
        </div>
        <div class="form-group form-group-sm">
        	<div class="col-sm-3 col-md-3 add">
        		<label class="control-label">时间点：</label>
            	<i class="fa fa-plus-circle fa-lg add" title="增加"></i>
        	</div>
            <div class="col-sm-9 col-md-9 customScrollBar">
                <div class="chkTTs">
                </div>
            </div>
        </div>
    </form>
</div>