<div class="customScrollBar">
    <div class="rptCC">
        <div class="rpt sms">
            <div style="height: 80px;">
                <div>
                    <span style="font-weight: bold">短信(成功)：</span><span class="successCount"></span>
                    <span style="font-weight: bold; margin-left: 50px;">短信(发送中)：</span><span class="sendingCount"></span>
                    <span style="font-weight: bold; margin-left: 50px;">短信(失败)：</span><span class="failCount"></span>
                </div>
                <div>
                    <span style="font-weight: bold">购买数量：</span><span class="purchaseCount"></span>
                    <span style="font-weight: bold; margin-left: 50px;">购买费用：</span><span class="purchaseFee"></span>
                </div>
            </div>
            <div style="top: 80px;">
                <div class="chart"></div>
                <div class="tpSel"></div>
            </div>
        </div>
        <div class="rpt email">
            <div style="height: 40px;">
                <div>
                    <span style="font-weight: bold">邮件(成功)：</span><span class="successCount"></span>
                    <span style="font-weight: bold; margin-left: 50px;">邮件(发送中)：</span><span class="sendingCount"></span>
                    <span style="font-weight: bold; margin-left: 50px;">邮件(失败)：</span><span class="failCount"></span>
                </div>
            </div>
            <div style="top: 40px;">
                <div class="chart"></div>
                <div class="tpSel"></div>
            </div>
        </div>
        <div class="rpt image">
            <div style="height: 80px;">
                <div>
                    <span style="font-weight: bold">图片存储：</span><span class="imageCount"></span>
                </div>
                <div>
                    <span style="font-weight: bold">购买数量：</span><span class="purchaseCount"></span>
                    <span style="font-weight: bold; margin-left: 50px;">购买费用：</span><span class="purchaseFee"></span>
                </div>
            </div>
            <div style="top: 80px;">
                <div class="chart"></div>
                <div class="tpSel"></div>
            </div>
        </div>
        <div class="rpt video" style="height: 350px;">
            <div style="height: 80px; border-bottom: none;">
                <div>
                    <span style="font-weight: bold">视频：</span><span class="videoCount"></span>
                </div>
                <div>
                    <span style="font-weight: bold">购买数量：</span><span class="purchaseCount"></span>
                    <span style="font-weight: bold; margin-left: 50px;">购买费用：</span><span class="purchaseFee"></span>
                </div>
            </div>
            <div style="top: 80px;">
                <div class="grid"></div>
            </div>
        </div>
    </div>
</div>