<div>
    <div class="upgNav">
        <nav class="navSteps">
            <ol>
                <li class="step1 current"><em>授权</em></li>
                <li class="step2"><em>完成</em></li>
            </ol>
        </nav>
    </div>
    <div class="steps">
        <div class="step1">
            <div class="customScrollBar">
                <div style="padding: 20px 15px 20px 20px">
                    <span><span class="svNm"></span> 需要如下的授权：</span>
                    <div style="min-height: 150px; margin: 10px 0px; position: relative; border-radius: 3px; border: 1px solid #bababa;">
                        <ul class="authList" style="margin-top: 10px">
                        </ul>
                    </div>
                    <span>服务使用条款：</span>
                    <div style="padding: 3px 0px 3px 25px;">如出现下面的情形，需用户自行负责，平台不承担相关责任</div>
                    <ol>
                        <li>授权通过后，服务在使用过程中能通过这些授权获取您相应的数据，服务在使用并处理这些数据时给用户带来了侵权或者其他损失。</li>
                        <li style="margin-top: 3px;">对于未认证服务，用户购买（付费服务）后出现服务不可用或者使用效果未达到预期等情况。</li>
                    </ol>
                    <div class="checkbox checkbox-primary" style="padding-top: 5px;">
                        <input class="styled" type="checkbox">
                        <label>同意条款并授权服务</label>
                    </div>
                </div>
            </div>
            <div class="btnRow">
                <button type="button" class="btn btn-primary next" disabled="disabled">确 定</button>
            </div>
        </div>
        <div class="step2">
            <div class="finalInfo">
                <span style="font-size: 16px;"><i class="fa fa-check-circle-o" aria-hidden="true"></i>添加成功</span>
                <span>已添加服务<span class="svNm" style="margin: 0px 5px;"></span>，可到 "我的服务" 中查看</span>
            </div>
            <div class="btnRow">
                <button type="button" class="btn btn-default">关 闭</button>
            </div>
        </div>
    </div>
</div>