<div>
    <div class="recDesc">
        <span style="color: #000; opacity: 0.8"><span class="unm crtNm"></span>创建于 <span class="crtTs"></span></span>
        <table style="width: 100%; margin-top: 15px;">
            <tr>
                <td style="width: 70px">工单类型：</td>
                <td class="lblForVal from" style="width: 200px;"></td>
                <td style="width: 70px; font-weight: bold;">执行情况：</td>
                <td class="lblForVal exec"></td>
            </tr>
            <tr>
                <td>关联设备：</td>
                <td colspan="3" class="lblForVal clients"></td>
            </tr>
            <tr>
                <td>工单说明：</td>
                <td colspan="3" class="lblForVal desc"></td>
            </tr>
        </table>
    </div>
    <div class="recTmLine" style="min-height: 150px; background-color: #eeeff1; padding: 0px 20px;"></div>
</div>