<div>
    <div class="infocc">
        <div class="cc used"></div>
        <div class="cc created" style="display: none"></div>
    </div>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li data="used" class="active"><a href="javascript:void(0);">使用的服务</a></li>
            <li data="created"><a href="javascript:void(0);">创建的服务</a></li>
        </ul>
    </nav>
    <div class="iframeContainer">
        <div class="iframeNav">
            <i class="fa fa-long-arrow-left"></i>
            <div><span class="title"></span></div>
            <div></div>
        </div>
        <iframe></iframe>
    </div>
</div>