<div>
    <div>
        <div>SSL 文件</div>
        <div class="sslDiv">
            <span>下列3个文件用于设备通过 ssl 连接至平台</span>
            <div>
                <div class="file ca">
                    <div>ca.crt</div>
                </div>
                <div class="file crt">
                    <div>client.crt</div>
                </div>
                <div class="file key">
                    <div>client.key</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>client 秘钥</div>
        <div class="keyDiv hideCheck">
            <div>
                <span>client 秘钥用于设备的登陆, 请务泄露给他人</span>
                <ul class="list-inline">
                    <li class="append"><a href="javascript:void(0);" title="新增"><i class="fa fa-plus-circle"></i></a></li>
                    <li class="delete"><a href="javascript:void(0);" title="删除"><i class="fa fa-minus-circle"></i></a></li>
                    <li class="ok" style="display: none"><a href="javascript:void(0);"><i class="fa fa-trash-o"></i>确定</a></li>
                    <li class="cancel" style="display: none"><a href="javascript:void(0);"><i class="fa fa-close"></i>取消</a></li>
                </ul>
            </div>
            <div class="keyContainer">
            </div>
        </div>
    </div>
    <div>
        <div>SDK 文件</div>
        <div class="sdkDiv">
            <span>请选择适合您设备的 sdk 以进行开发</span>
            <div class="tabsCti">
                <div class="tabs">
                    <div data-pws-tab="embed" class="sdk embed" data-pws-tab-name="嵌入式" data-pws-tab-icon="fa-wrench">
                        <div>维护中...</div>
                    </div>
                    <div data-pws-tab="linux" class="sdk linux" data-pws-tab-name="linux" data-pws-tab-icon="fa-linux">
                        <div>维护中...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>