<div>
    <div style="width: 40%" class="customScrollBar">
        <div style="padding: 20px 10px 10px 10px;">
            <table style="font-size: 14px;">
                <tr>
                    <td colspan="2" class="crtDesc" style="color: #a7a2a2; font-size: 13px;"></td>
                </tr>
                <tr>
                    <td style="width: 80px;">工单类型：</td>
                    <td class="lblForVal from"></td>
                </tr>
                <tr>
                    <td>工单说明：</td>
                    <td class="lblForVal desc"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="clientsMap" style="width: 35%;">
    </div>
    <div style="width: 25%">
        <button type="button" class="btn btn-primary dim center occupy">接收处理</button>
    </div>
</div>