.component_userAccount_widget_resource_widget_purchase{
    width: 100%;
}

.component_userAccount_widget_resource_widget_purchase .upgNav{
    background: linear-gradient(to bottom, #67bbaa, #6cccb7);
}

.component_userAccount_widget_resource_widget_purchase .upgNav ol{
    margin: 0px auto;
    padding: 10px 0px;
}

.component_userAccount_widget_resource_widget_purchase .upgNav .cd-multi-steps li > *{
    color: #fff;
}

.component_userAccount_widget_resource_widget_purchase .upgNav .cd-multi-steps li.current > *,
.component_userAccount_widget_resource_widget_purchase .upgNav .cd-multi-steps li.visited > *{
    color: #49545d;
}

.component_userAccount_widget_resource_widget_purchase .steps{
	position: relative;
    height: 310px;
    overflow: hidden;
}

.component_userAccount_widget_resource_widget_purchase .steps>div>div:first-child,
.component_userAccount_widget_resource_widget_purchase .steps>div>form:first-child{
    height: 250px;
    position: relative;
    width: 100%;
    padding: 10px;
}

.component_userAccount_widget_resource_widget_purchase .steps .btnRow{
    text-align: center;
    width: 100%;
    display: inline-block;
    height: 50px;
    line-height: 50px;
}

.component_userAccount_widget_resource_widget_purchase .navSteps em{
    font-size: inherit;
}

.component_userAccount_widget_resource_widget_purchase .cd-multi-steps.text-top li, .cd-multi-steps.text-bottom li{
    width: 60px;
}

.component_userAccount_widget_resource_widget_purchase .step1 .payTm>div>*{
    display: inline-block;
    vertical-align: top;
}

.component_userAccount_widget_resource_widget_purchase .step3 .finalInfo{
    text-align: center;
    padding-top: 90px!important; 
    font-size: 15px;
}

.component_userAccount_widget_resource_widget_purchase .step3 .finalInfo>span{
    display: block;
}

.component_userAccount_widget_resource_widget_purchase .step3 .finalInfo i{
    color: #67bbaa; 
    font-size: 17px; 
    margin-right: 5px; 
    margin-bottom: 10px;
}

.component_userAccount_widget_resource_widget_purchase .step1 label{
    font-size: 13px!important;
    font-weight: normal;
}

.component_userAccount_widget_resource_widget_purchase .step2 .btn-group>label{
    width: 70px;
    padding: 4px;
}

.component_userAccount_widget_resource_widget_purchase .step2 .btn-group>label.active{
    background-color: #67bbaa;
    color: #fff;
    border-color: #67bbaa;
}