<div>
	<div class="detail">
		<div style="width: 100%; height: 100%; position: relative; overflow: hidden;">
			<div class="title">数据详情</div>
			<div class="navPanel">
				<div class="myNav">
					<div style="width: 90px; float: left; margin-left: 15px;">
						<i class="fa fa-calendar-check-o"> <small>时间选择</small></i>
					</div>
					<div style="width: 30px; float: right;">
						<i class="fa fa-filter"></i>
					</div>
					<div style="width: 30px; float: right; margin-right: 20px;">
						<i class="fa fa-star-o star"></i>
					</div>
				</div>
				<div class="topSearch">
					<div class="tmRange">
						<input type="text" />
					</div>
				</div>
			</div>
			<div class="horzMetaDiv customScrollBar">
				<div class="btn-group" data-toggle="buttons"></div>
				<div class="tip">暂无元数据!</div>
			</div>
			<div class="menuShim"></div>
			<div class="metaDataDiv customScrollBar">
				<div class="metaDataDivContent"></div>
			</div>
		</div>
	</div>
	<div class="back">
		<i class="return fa fa-angle-left pull-left prev"></i> <span class="svName"></span>
	</div>
</div>