<div>
    <div>
        <div class="upgNav">
            <nav class="navSteps">
                <ol>
                    <li class="step1 current"><em>认证信息</em></li>
                    <li class="step2"><em>支付</em></li>
                    <li class="step3"><em>完成</em></li>
                </ol>
            </nav>
        </div>
        <div class="steps">
            <div class="step1">
                <div>
                    <form class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <label class="col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8 control-label" style="text-align: left">认证过程中将会对服务进行试用，对其功能、界面进行确认，并比对帮助文档中的内容，确保与真实情况一致。同时可能会通过预留的手机号与您进行联系，请保持号码畅通。</label>
                        </div>
                        <div class="form-group form-group-sm">
                            <label class="col-sm-4 col-md-4 control-label">认证名称</label>
                            <div class="col-sm-5 col-md-5">
                                <input type="text" class="form-control rlName">
                            </div>
                        </div>
                        <div class="form-group form-group-sm" style="margin-top: 40px;">
                            <label class="col-sm-4 col-md-4 control-label">认证费用</label>
                            <label class="col-sm-5 col-md-5 control-label feeLabel" style="text-align: left"></label>
                        </div>
                    </form>
                </div>
                <div class="btnRow">
                    <button type="button" class="btn btn-primary next">下一步</button>
                </div>
            </div>
            <div class="step2">
                <div class="pay">
                </div>
                <div class="btnRow">
                    <button type="button" class="btn btn-default prev">上一步</button>
                </div>
            </div>
            <div class="step3">
                <div class="finalInfo">
                    <span style="font-size: 16px;"><i class="fa fa-check-circle-o" aria-hidden="true"></i>支付成功</span>
                    <span></span>
                </div>
                <div class="btnRow">
                    <button type="button" class="btn btn-default">关 闭</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="nopay">
            <form class="form-horizontal">
                <div class="form-group form-group-sm">
                    <label class="col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8 control-label" style="text-align: left">认证过程中将会对服务进行试用，对其功能、界面进行确认，并比对帮助文档中的内容，确保与真实情况一致。同时可能会通过预留的手机号与您进行联系，请保持号码畅通。</label>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-4 col-md-4 control-label">认证名称</label>
                    <div class="col-sm-5 col-md-5">
                        <input type="text" class="form-control rlName">
                    </div>
                </div>
            </form>
        </div>
        <div class="btnRow">
            <button type="button" class="btn btn-primary submit">提 交</button>
        </div>
    </div>
</div>