<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li data="userRpt"><a href="javascript:void(0);">用户统计</a></li>
                    <li data="resourceRpt"><a href="javascript:void(0);">资源统计</a></li>
                    <li data="3rdRpt"><a href="javascript:void(0);">第三方服务统计</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="userRpt">
        </div>
        <div class="resourceRpt">
        </div>
        <div class="3rdRpt">
        </div>
    </div>
</div>