<div class="container-fluid">
    <div class="row">
        <form class="text-center center animated fadeInDown">
            <div class="icon">
                <h2>辰坤云</h2>
            </div>
            <div class="form-group">
                <input type="text" class="form-control uid" placeholder="邮箱">
            </div>
            <div class="form-group">
                <input type="password" class="form-control pwd" placeholder="密码">
            </div>
            <div style="text-align: right">
                <div class="checkbox checkbox-primary pull-left" style="margin: 0px;">
                    <input type="checkbox">
                    <label>记住我</label>
                </div>
                <a href="javascript:void(0);" class="forgotPwd" style="color: #676a6c; line-height: 25px;">忘记密码</a>
            </div>
            <div class="btnDiv">
                <button type="button" class="btn btn-primary btn-block">登  陆</button>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            </div>
            <p class="signup">还没有账户? <a href="javascript:void(0);">立即注册</a></p>
         </form>
         <div class="copyright">
             <div style="margin-bottom: 20px;">
                 <div class="qrCode" style="height: 80px; margin-bottom: 8px; position: relative">
                     <div class="center"></div>
                 </div>
                 <small style="color: #424242;">关注微信公众号, 轻松管理您的数据</small>
            </div>
             <small>© 2016 ckxhtd.com, all rights reserved</small>
         </div>
    </div>
</div>

