.component_userAccount_widget_acInfo {
	width: 100%;
	height: 100%;
}

.component_userAccount_widget_acInfo .icon {
	padding: 20px 0px 5px 20px;
}

.component_userAccount_widget_acInfo .icon>div:first-child {
	position: relative;
	width: 48px;
	height: 48px;
	overflow: hidden;
	border-radius: 50%;
}

.component_userAccount_widget_acInfo .icon>div:first-child>img {
	width: 100%
}

.component_userAccount_widget_acInfo .icon>div:first-child>a {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	opacity: 0.8;
	background-color: #356880;
	text-align: center;
	line-height: 55px;
	display: none;
}

.component_userAccount_widget_acInfo .icon>div:first-child:hover>a {
	display: block;
}

.component_userAccount_widget_acInfo .editClick {
	cursor: pointer;
	color: #25afbf;
}

.component_userAccount_widget_acInfo .icon>.unm {
	height: 50px;
	padding-top: 8px;
}

.component_userAccount_widget_acInfo .icon>.unm>* {
	display: block;
}

.component_userAccount_widget_acInfo .icon>.unm>.editClick {
	font-weight: bold;
	white-space: nowrap;
}

.component_userAccount_widget_acInfo .icon>.unm>input {
	display: none;
}

.component_userAccount_widget_acInfo .icon>.unm.edit>input {
	display: block;
}

.component_userAccount_widget_acInfo .icon>.unm.edit>*:not(input) {
	display: none;
}

.component_userAccount_widget_acInfo .edit>input {
	width: 90%;
	padding: 3px 10px;
	font-size: inherit;
	height: 28px;
}

.component_userAccount_widget_acInfo .moreContent {
	padding: 10px 0px 10px 20px;
	border-left: 4px solid transparent;
	padding-left: 16px;
	transition: border-left-color 0.3s;
	background-color: rgba(71, 77, 84, 0.8);
	color: #fff;
}

.component_userAccount_widget_acInfo .moreContent input {
	color: #555;
}

.component_userAccount_widget_acInfo .moreContent>.more {
	display: block;
	height: 30px;
	line-height: 30px;
	color: #fff;
}

.component_userAccount_widget_acInfo .moreContent>.more>i.pull-right {
	transform: rotate(90deg);
	transition: transform 0.3s;
	margin-right: 20px;
	font-size: 16px;
	line-height: 30px;
}

.component_userAccount_widget_acInfo .moreContent.open {
	border-left-color: #19aa8d;
}

.component_userAccount_widget_acInfo .moreContent.open>.more>i.pull-right
	{
	transform: rotate(0deg);
}

.component_userAccount_widget_acInfo .moreContent>.moreInfo>form>.form-group
	{
	margin: 0px;
	margin-top: 15px;
	height: 30px;
	line-height: 30px;
}

.component_userAccount_widget_acInfo .moreContent>.moreInfo>form>.form-group label
	{
	padding: 0px;
	text-align: left;
	font-weight: normal;
}

.component_userAccount_widget_acInfo .moreContent>.moreInfo>form>.form-group>div
	{
	padding: 0px;
}

.component_userAccount_widget_acInfo .moreContent>.moreInfo>form>.form-group.phone>div>input
	{
	display: none;
}

.component_userAccount_widget_acInfo .moreContent>.moreInfo>form>.form-group.phone>div.edit>input
	{
	display: block;
}

.component_userAccount_widget_acInfo .moreContent>.moreInfo>form>.form-group.phone>div.edit>*:not(input)
	{
	display: none;
}

.component_userAccount_widget_acInfo .qrCode {
	height: 220px;
	position: relative;
}

.component_userAccount_widget_acInfo .qrCode>div {
	width: 140px;
	height: 140px;
}

.component_userAccount_widget_acInfo .modal.iconEdit .row>div {
	display: inline-block;
	float: left;
	height: 100%;
	text-align: center;
}

.component_userAccount_widget_acInfo .modal.iconEdit .row>.currentIcon {
	border-right: 1px solid #e5e5e5;
	width: 35%;
	padding-top: 12px;
	padding-right: 25px;
}

.component_userAccount_widget_acInfo .modal.iconEdit .row>.currentIcon>*
	{
	display: block;
}

.component_userAccount_widget_acInfo .modal.iconEdit .row>.currentIcon>div
	{
	width: 80px;
	height: 80px;
	margin: auto;
	margin-top: 10px;
	overflow: hidden;
	border-radius: 50%;
	border: 1px solid #e5e5e5;
}

.component_userAccount_widget_acInfo .modal.iconEdit .row>.currentIcon>span
	{
	color: #ccc;
}

.component_userAccount_widget_acInfo .modal.iconEdit .row>.newIcon {
	width: 65%;
	padding: 40px 20px;
}

.component_userAccount_widget_acInfo .modal.iconEdit .row>.newIcon>div {
	display: inline-block;
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 50%;
	border: 1px solid #e5e5e5;
}

.component_userAccount_widget_acInfo .modal.iconEdit .row>.newIcon>div>img
	{
	width: 80px;
}

.component_userAccount_widget_acInfo .modal.iconEdit .row>.newIcon>div.upload{
	border-radius: 3px;
	text-align: center;
	line-height: 80px;
	color: #67bbaa;
	cursor: pointer;
}

.component_userAccount_widget_acInfo .modal.iconEdit .row>.newIcon>div.upload{
	margin-left: 10px;
}

.component_userAccount_widget_acInfo .modal.phoneEdit input {
	width: 220px;
}

.component_userAccount_widget_acInfo .modal.phoneEdit .verifyDiv {
	display: inline-block;
	width: 100%;
}

.component_userAccount_widget_acInfo .modal.phoneEdit .verifyDiv>* {
	float: left;
}

.component_userAccount_widget_acInfo .modal.phoneEdit .verifyDiv .btn {
	color: #635f5f;
	border: 1px solid #ccc;
}

.component_userAccount_widget_acInfo .modal.phoneEdit .verifyDiv input {
	width: 40%;
	margin-right: 10px;
}

.component_userAccount_widget_acInfo .modal.nameEdit .upload{
    position: relative;
}

.component_userAccount_widget_acInfo .modal.nameEdit .upload>div:first-child{
	height: 120px;
	width: 192px;
	line-height: 120px;
	text-align: center;
	border: 1px solid #E5E6E7;
}

.component_userAccount_widget_acInfo .modal.nameEdit .upload>.imgPanel {
	position: absolute;
    margin: 0px 15px;
    left: 0px;
    top: 0px;
    width: 192px;
    height: 100%;
}