<div>
    <div class="widget-head-color-box navy-bg p-lg text-center" style="margin-top: 0px; background-color: #78A9A5; border-radius: 0px">
        <div class="m-b-md">
        <h2 class="font-bold no-margins unm"></h2>
            <small class="uid"></small>
        </div>
        <div class="icon m-b-md">
            <div class="center">
                <img src="../javascript/_html/common/linkimg/user.png">
            </div>
        </div>
        <div>
            <span class="clientsCount"></span> |
            <span class="crtTs"></span> |
            <span><a href="javascript:void(0);" class="moreHref" data-toggle="collapse" data-target=".main_mobile_userInfo .moreInfo" aria-expanded="false">更多 <i class="fa fa-caret-down"></i></a></span>
        </div>
        <div class="moreInfo collapse">
            <form class="form-horizontal" style="margin-top: 20px">
                <div class="form-group pUnm">
                    <label class="control-label">所属:</label>
                    <label class="control-label"></label>
                </div>
                <div class="form-group email">
                    <label class="control-label">邮箱:</label>
                    <label class="control-label" ></label>
                </div>
                <div class="form-group phone">
                    <label class="control-label">手机:</label>
                    <label class="control-label"></label>
                </div>
                <div class="form-group profit">
                    <label class="control-label">收益:</label>
                    <label class="control-label" ></label>
                </div>
            </form>
        </div>
    </div>
    <div class="widget-text-box">
        <div class="qrCode">
            <div class="center"></div>
        </div>
        <div class="widget lazur-bg">
            <div class="vertical-align">
                <div>
                    <i class="fa fa-envelope-o"></i>
                </div>
                <div class="text-right">
                    <span>短信</span>
                    <h3 class="font-bold sms">0/0</h3>
                </div>
            </div>
        </div>
        <div class="widget navy-bg">
            <div class="vertical-align">
                <div>
                    <i class="fa fa-picture-o"></i>
                </div>
                <div class="text-right">
                    <span>图片</span>
                    <h3 class="font-bold img">0/0</h3>
                </div>
            </div>
        </div>
        <div class="widget blue-bg">
            <div class="vertical-align">
                <div>
                    <i class="fa fa-play-circle-o"></i>
                </div>
                <div class="text-right">
                    <span>视频流</span>
                    <h3 class="font-bold video">0/0</h3>
                </div>
            </div>
        </div>
    </div>
</div>