<div>
	<div style="padding: 10px;">
		<div style="padding-left: 5px; height: 80px;">
            <h2 class="pull-left">已绑定账号</h2>
            <div class="pull-right" style="margin: 20px 20px 0px 0px"><i style="font-size: 26px; color: #4CA293" class="fa fa-plus-circle bindUser"></i></div>
        </div>
        <table style="width: 100%">
        </table>
	</div>
	<div class="modal fade bindForm" role="dialog" aria-labelledby="gridSystemModalLabel">
		<div class="modal-dialog" role="document" style="margin: 20px; margin-top: 100px!important">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">用户绑定</h4>
				</div>
				<div class="modal-body" style="padding: 20px 10px 0px 10px">
					<div class="container-fluid">
						<div class="row">
							<div class="form-group">							
								<div class="col-sm-9" style="padding-left: 0px">
									<div class="form-group">
										<label class="col-sm-3 col-md-3 control-label">用户名</label>
										<div class="col-sm-8 col-md-8">
											<input type="text" class="form-control uid" placeholder="请输入用户名">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 col-md-3 control-label">密码</label>
										<div class="col-sm-8 col-md-8">
											<input type="password" class="form-control pwd" placeholder="请输入密码">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer text-center" style="padding-top: 25px;">
						<button type="button" class="btn btn-primary btn-block bindSure">绑定</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
