.component_ruleMgr{
	height: 100%;
	min-width: 750px;
	position: relative;
}

.component_ruleMgr >nav .nav{
	padding-left: 10px;
	margin: 0px;
}

.component_ruleMgr >nav .nav>li{
	float: left;
}

.component_ruleMgr >nav .nav>li.active{
    background-color: transparent!important;
}

.component_ruleMgr >nav .nav>li>a{
    font-weight: normal;
    color: #4a5357;
    padding: 18px 20px 24px 20px;
    font-size: 14px;
}

.component_ruleMgr >nav .nav>li>a:focus,
.component_ruleMgr >nav .nav>li>a:hover{
    color: #317290!important;
    background-color: transparent!important;
}

.component_ruleMgr >nav .nav>li.active>a{
    box-shadow: 0 -5px 0 0 #67bbaa inset;
}

@media(max-width: 768px){
	.component_ruleMgr >nav .nav>li.active>a{
    	box-shadow: 0 -6px 0 0 #67bbaa inset;
	}
}

.component_ruleMgr >nav .nav>li.active>a,
.component_ruleMgr >nav .nav>li.active>a:focus,
.component_ruleMgr >nav .nav>li.active>a:hover{
    color: #317290!important;
    background-color: transparent!important;
}

.component_ruleMgr > .content{
    top: 62px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #EAEAEA;
    position: absolute;
}

.component_ruleMgr > .content>div{
    height: 100%;
}

.component_ruleMgr > .content>div.list{
    width: 300px;
    float: left;
    padding: 10px;
    box-shadow: 5px 6px 12px 0px #dedede;
}

.component_ruleMgr > .content>div.detail{
    position: absolute;
    left: 300px;
    right: 0rem;
    top: 0rem;
    bottom: 0rem;
    padding: 10px 15px 15px 15px;
}

.component_ruleMgr > .content>div.detail>div{
	background-color: #fff;
	border: 1px solid #f9f9f9;
}

.component_ruleMgr > .content>div.detail .mds ul{
	margin: 0px;
	height: 100px;
	white-space: nowrap;
}

.component_ruleMgr > .content>div.detail .mds ul li{
	padding: 0px;
}

.component_ruleMgr > .content>div.detail .mds ul li>a{
	padding: 25px 40px 55px 40px;
	color: #000;
	display: block;
	position: relative;
}

.component_ruleMgr > .content>div.detail .mds ul li>a>span{
	display: block;
}

.component_ruleMgr > .content>div.detail .mds ul li>a>span:first-child{
	font-size: 14px;
}

.component_ruleMgr > .content>div.detail .mds ul li>a>span.mdId{
	position: absolute;
	right: 14px;
	bottom: 28px;
	opacity: 0.6;
}

.component_ruleMgr > .content>div.detail .mds ul li>a>span.mdSys{
	position: absolute;
	right: 14px;
	bottom: 6px;
	opacity: 0.6;
}

.component_ruleMgr > .content>div.detail .mds ul li.active>a{
	background-color: rgb(32, 118, 142)!important;
	color: #fff;
}

.component_ruleMgr > .content>div.detail .mds ul li>a:hover{
	background-color: rgb(177, 207, 216);
}

.component_ruleMgr > .content>div.detail .mds ul li.active>a>span,
.component_ruleMgr > .content>div.detail .mds ul li>a:hover>span{
	opacity: 1;
}

.component_ruleMgr > .content>div.detail .mdInfo{
	border-top: none;
	font-size: 24px;
	text-align: right;
	padding-right: 20px;
	background-color: rgb(246, 246, 245);
}

.component_ruleMgr > .content>div.detail .mdInfo>ul{
	margin: 0px;
}

.component_ruleMgr > .content>div.detail .mdInfo>ul li a{
	margin-left: 20px;
}

.component_ruleMgr > .content>div.detail .mdInfo li.append i{
	color: #4CA293;
}

.component_ruleMgr > .content>div.detail .mdInfo li.delete i{
	color: #ed5565;
}

.component_ruleMgr > .content>div.detail .mdInfo li.append i:hover{
    color: #469594;
}

.component_ruleMgr > .content>div.detail .mdInfo li.delete i:hover{
	color: #d9534f;
}

.component_ruleMgr > .content>div.detail .mdInfo li.ok a,
.component_ruleMgr > .content>div.detail .mdInfo li.cancel a{
	padding: 25px 3px 16px 3px;
    font-size: 14px;
}

.component_ruleMgr > .content>div.detail .mdInfo li.ok a{
	color: #ed5565!important;
}

.component_ruleMgr > .content>div.detail .mdInfo li.cancel a{
	color: #2b2b2b!important;
}

.component_ruleMgr > .content>div.detail .rule{
	position: absolute;
	top: 147px;
	bottom: 10px;
	left: 15px;
	right: 15px;
	border-top: none;
	background-color: #fdfdfd;
}

.component_ruleMgr > .content>div.detail .rule .ru{
	width: 100%;
	display: inline-block;
}

.component_ruleMgr > .content>div.detail .rule .ru .panel-body{
	margin-top: -25px;
	min-height: 157px;
}

.component_ruleMgr .rule .media{
	cursor: pointer;
	float: left;
	position: relative;
	box-shadow: 0 0 11px #e6e6e6;
	margin: 25px 40px 0px 0px;
	border-radius: 8px;
	border: 1px solid #eee;
}

.component_ruleMgr .rule .media.select{
	box-shadow: 0 0 11px #23c6c8;
	border-color: #23c6c8;
}

.component_ruleMgr .rule .media .media-left>div{
	width: 100px;
	height: 100px;
}

.component_ruleMgr .rule .media .media-left>div>*{
    opacity: 0.5;
}

.component_ruleMgr .rule .media .media-left>div>div{
    background-position: 50% 50%;
    background-size: initial;
}

.component_ruleMgr .rule .media .media-left>div>svg{
    width: 65px;
    height: 65px;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}

.component_ruleMgr .rule .media .media-body{
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	height: 35px;
	color: #fff;
}

.component_ruleMgr .rule .media .media-body.ct{
	z-index: 1;
    word-break: break-all;
    display: table;
}

.component_ruleMgr .rule .media .media-body.ct>span{
    display: table-cell;
    vertical-align: middle;
}

.component_ruleMgr .rule .media .media-body.bg{
	background-color: #000;
	opacity: 0.5;
}

.component_ruleMgr .rule .media .media-left{
	padding: 0px;
}

.component_ruleMgr .rule .media.delete{
    box-shadow: 0 0 0.75em #EC5858;
}

.component_ruleMgr .rule .media input{
	position: absolute;
	display: none;
}

.component_ruleMgr .rule.showMedia .media input{
	display: block;
}


