<div>
    <div class="panel-group" role="tablist" aria-multiselectable="true">
        <div class="panel">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a href="javascript:void(0);" data-toggle="collapse" data-parent=".component_userAccount_widget_ntfSet .panel-group" aria-expanded="true" data-target=".component_userAccount_widget_ntfSet .panel-group .remindPush">
                        系统信息自动推送
                    </a>
                </h4>
            </div>
            <div class="remindPush panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <span>启用后将以短信的形式将系统信息推送至当前用户手机，需确保短信可用量大于0，否则将推送失败。短信资源设置见"我的资源"</span>
                    <div>
                        <div class="checkbox checkbox-primary" style="display: inline-block">
                            <input class="styled" type="checkbox" data="2">
                            <label>启用(级别：异常)</label>
                        </div>
                        <div class="checkbox checkbox-primary" style="display: inline-block">
                            <input class="styled" type="checkbox" data="1">
                            <label>启用(级别：警告)</label>
                        </div>
                        <div class="checkbox checkbox-primary" style="display: inline-block">
                            <input class="styled" type="checkbox" data="0">
                            <label>启用(级别：提示)</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a href="javascript:void(0);" data-toggle="collapse" data-parent=".component_userAccount_widget_ntfSet .panel-group" data-target=".component_userAccount_widget_ntfSet .panel-group .autoPush">
                        设备信息自动推送
                    </a>
                </h4>
            </div>
            <div class="autoPush panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <span>启用后将以短信/邮件的形式将设备信息推送至指定人员，若采用了短信推送，需确保短信可用量大于0，否则将推送失败。短信资源设置见"我的资源"</span>
                    <div>
                        <div class="checkbox checkbox-primary" style="display: inline-block">
                            <input class="styled" type="checkbox" data="2">
                            <label>启用(级别：异常)</label>
                        </div>
                        <div class="checkbox checkbox-primary" style="display: inline-block">
                            <input class="styled" type="checkbox" data="1">
                            <label>启用(级别：告警)</label>
                        </div>
                        <div class="checkbox checkbox-primary" style="display: inline-block">
                            <input class="styled" type="checkbox" data="0">
                            <label>启用(级别：消息)</label>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a href="javascript:void(0);" data-toggle="collapse" data-parent=".component_userAccount_widget_ntfSet .panel-group" data-target=".component_userAccount_widget_ntfSet .panel-group .pushUserMgr">
                        推送人员管理
                    </a>
                </h4>
            </div>
            <div class="pushUserMgr panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>