<div class="showCmd">
    <div class="video">
        <div class="player"></div>
        <div class="offline" title="视频流已断开"></div>
        <span></span>
    </div>
    <div class="cmd" bindAuth="{metaCommand_xyz post}||{metaCommand_ss post}">
        <div class="normal">
            <div class="direction">
                <div class="switch action c0" data="1,0,0">
                    <input type="checkbox">
                    <label></label>
                </div>
                <div class="switch action c45" data="1,1,0">
                    <input type="checkbox">
                    <label></label>
                </div>
                <div class="switch action c90" data="0,1,0">
                    <input type="checkbox">
                    <label></label>
                </div>
                <div class="switch action c135" data="-1,1,0">
                    <input type="checkbox">
                    <label></label>
                </div>
                <div class="switch action c180" data="-1,0,0">
                    <input type="checkbox">
                    <label></label>
                </div>
                <div class="switch action c225" data="-1,-1,0">
                    <input type="checkbox">
                    <label></label>
                </div>
                <div class="switch action c270" data="0,-1,0">
                    <input type="checkbox">
                    <label></label>
                </div>
                <div class="switch action c315" data="1,-1,0">
                    <input type="checkbox">
                    <label></label>
                </div>
            </div>
            <div class="kz zoom col-sm-6 col-md-6">
                <div data="0,0,1"><i class="fa fa-plus"></i></div>
                <div data="0,0,-1"><i class="fa fa-minus"></i></div>
            </div>
            <div class="kz stopstart col-sm-6 col-md-6">
                <div data="1"><i class="fa fa-play-circle-o"></i></div>
                <div data="0"><i class="fa fa-stop-circle"></i></div>
            </div>
        </div>
        <div class="small">
            <div class="direction">
                <div class="switch action c0" data="1,0,0">
                    <input type="checkbox">
                    <label></label>
                </div>
                <div class="switch action c90" data="0,1,0">
                    <input type="checkbox">
                    <label></label>
                </div>
                <div class="switch action c180" data="-1,0,0">
                    <input type="checkbox">
                    <label></label>
                </div>
                <div class="switch action c270" data="0,-1,0">
                    <input type="checkbox">
                    <label></label>
                </div>
            </div>
            <div style="margin: 10px 0px">
                <div class="kz zoom">
                    <div data="0,0,1"><i class="fa fa-plus"></i></div>
                    <div data="0,0,-1"><i class="fa fa-minus"></i></div>
                </div>
                <div class="kz stopstart" style="margin-top: 10px;">
                    <div data="1"><i class="fa fa-play-circle-o"></i></div>
                    <div data="0"><i class="fa fa-stop-circle"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="slideBtn">
    </div>
</div>