<div>
    <div class="slc">
        <div class="galleryCC">
            <div style="width: 100%; height: 100%"></div>
        </div>
        <div class="callDataContainer">
            <form class="form-horizontal" style="margin:40px 20px 20px 20px">
                <div class="form-group form-group-sm">
                    <label class="col-sm-3 col-md-3 control-label">设备：</label>
                    <label class="col-sm-9 col-md-9 control-label labelForVal clientNm"></label>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-3 col-md-3 control-label">元数据：</label>
                    <label class="col-sm-9 col-md-9 control-label labelForVal metaNm"></label>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-3 col-md-offset-3 col-sm-9 col-md-9">
                        <button type="button" class=" btn btn-primary cmdBtn" style="width: 70px; margin-top: 10px">拍 照</button>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-3 col-md-offset-3 col-sm-9 col-md-9">
                        <label class="labelForVal desc"></label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <ul class="drawerMenu">
        <li> 
            <a href="javascript:void(0);"><i class="fa fa-angle-double-down"></i></a>
            <ul>
                <li class="showChart"><a href="javascript:void(0);"><i class="fa fa-line-chart"></i></a><span>图片列表</span></li>
                <li class="showCmd" bindAuth="{metaCommand_realTime post}"><a href="javascript:void(0);"><i class="fa fa-binoculars"></i></a><span>数据召测</span></li>
                <li class="editData" bindAuth="{imageData post}||{imageData put}||{imageData delete}"><a href="javascript:void(0);"><i class="fa fa-pencil-square-o"></i></a><span>编辑</span></li>
            </ul>
        </li>
    </ul>
    <div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body" style="padding: 0px">
                </div>
            </div>
        </div>
    </div>
</div>