<div>
    <div class="descImg">
        <img style="max-width: 100%"></img>
    </div>
    <div class="descT1">
        <span style="margin-left: 0px;" title="用户数"><i class="fa fa-user"></i><span class="usedCount"></span></span>
        <span class="used" style="color: #337ab7">已购</span>
        <div class="pull-right">
            <span style="margin-left: 0px;" class="reliable" title="已认证"><i class="fa fa-shield"></i><span>已认证</span></span>
            <a href="javascript:void(0);" class="crtUser" style="margin-left: 10px;"></a>
            <span style="margin-left: 0px;">发布于<span class="crtTs" style="margin-left: 2px;"></span></span>
        </div>
    </div>
    <div style="padding-top: 10px">
        <span class="brief"></span>
    </div>
    <div class="descT2">
        <span>服务描述</span>
        <div class="desc"></div>
    </div>
    <div class="descT2">
        <span>所需权限</span>
        <ul class="authList">
        </ul>
    </div>
    <div style="padding: 10px 15px;">
        <a href="javascript:void(0);" class="linkHelp" target="_blank"><i class="fa fa-file-text-o" aria-hidden="true"></i> 查看服务文档</a>
        <button type="button" class="btn btn-warning btn-block use" style="margin-top: 25px;">使 用</button>
    </div>
</div>