<div>
    <div class="discovery">
        <div>
            <div class="discoveryContainer"></div>
        </div>
        <div></div>
    </div>
    <div class="metaList">
        <span class="listAction expandMeta"><i class="fa fa-expand"></i></span>
        <span class="listAction closeMeta"><div></div></span>
        <div class="slcContainer">
            <div class="slcContainerFuck"></div>
        </div>
    </div>
    <div class="discoveryBtn">
        <span>发现</span><i class="fa"></i>
    </div>
</div>