<div>
    <div class="steps">
        <div>
            <div class="jqNav">
                <div>
                    <div></div>
                    <h2>关注列表</h2>
                    <div class="concernList">
                    </div>
                </div>
                <div>
                    <div></div>
                    <h2>我的设备</h2>                   
                    <div class="deviceList">
                    </div>
                </div>
            </div>
        </div>
         <div class="commonDetail">
        </div>
    </div>
</div>