<div>
    <div class="search">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control nameOrId" placeholder="编码或名称搜索...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
	<div class="content">
		<div class="grid">
			<div class="gridContainer" style="width:100%; height:100%; border: none"></div>
		</div>
		<div class="detail">
            <form class="form-horizontal">
                <div class="form-group form-group-sm">
                    <button type="button" class="btn btn-warning btn-sm recover disabled" disabled style="float:right; margin-right: 30px; margin-top: 10px">恢 复</button>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-4 col-md-4 control-label">设备标识：</label>
                    <label class="col-sm-8 col-md-8 control-label labelForVal clientId"></label>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-4 col-md-4 control-label">设备名称：</label>
                    <label class="col-sm-8 col-md-8 control-label labelForVal clientNm"></label>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-4 col-md-4 control-label">生产商：</label>
                    <label class="col-sm-8 col-md-8 control-label labelForVal mfNm"></label>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-4 col-md-4 control-label">型号：</label>
                    <label class="col-sm-8 col-md-8 control-label labelForVal pdNm"></label>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-4 col-md-4 control-label">固件版本：</label>
                    <label class="col-sm-8 col-md-8 control-label labelForVal fwNm"></label>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-4 col-md-4 control-label">创建日期：</label>
                    <label class="col-sm-8 col-md-8 control-label labelForVal crtTs"></label>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-4 col-md-4 control-label">删除日期：</label>
                    <label class="col-sm-8 col-md-8 control-label labelForVal uptTs"></label>
                </div>
            </form>
		</div>
	</div>
</div>