<div>
    <ul class="list-inline">
        <li class="append"><a href="javascript:void(0);" title="新增角色"><i class="fa fa-plus-circle"></i></a></li>
        <li class="delete"><a href="javascript:void(0);" title="删除角色"><i class="fa fa-minus-circle"></i></a></li>
        <li class="ok" style="display: none"><a href="javascript:void(0);"><i class="fa fa-trash-o"></i>确定</a></li>
        <li class="cancel" style="display: none"><a href="javascript:void(0);"><i class="fa fa-close"></i>取消</a></li>
    </ul>
    <div>
        <div class="roleTree customScrollBar">
            <ul></ul>
        </div>
        <div class="roleContent">
            <div>
                <div class="col-sm-6 col-md-6">
                    <form class="form-horizontal">
                        <div class="form-group form-group-sm">
                            <label class="col-sm-3 col-md-3 control-label">角色：</label>
                            <div class="col-sm-8 col-md-8">
                                <input type="text" class="form-control roleNM" placeholder="输入角色名称">
                            </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label class="col-sm-3 col-md-3 control-label">描述：</label>
                            <div class="col-sm-8 col-md-8">
                                <textarea class="form-control roleDesc" placeholder="输入角色描述" spellcheck="false" style="height: 150px"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6 col-md-6">
                    <form class="form-horizontal" style="max-width: 300px">
                        <div class="form-group form-group-sm">
                            <div class="col-sm-11 col-md-11 apiTree customScrollBar" style="height: 300px; background-color: #fff; padding: 0px;">
                                <ul></ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <from class="form-horizontal cmd">
                <div class="form-group" style="margin: 0px">
                    <div class="col-sm-12 col-md-12" style="text-align: center; padding-top: 14px; border-top: 1px solid #dedede">
                        <button type="button" class="btn btn-default cancel">取 消</button>
                        <button type="button" class="btn btn-primary save" >保 存</button>
                    </div>
                </div>
            </from>
        </div>
    </div>
</div>