<div>
    <ul class="list-inline">
        <li class="append"><a href="javascript:void(0);" title="新增"><i class="fa fa-plus-circle"></i></a></li>
        <li class="delete"><a href="javascript:void(0);" title="删除"><i class="fa fa-minus-circle"></i></a></li>
        <li class="ok" style="display: none"><a href="javascript:void(0);"><i class="fa fa-trash-o"></i>确定</a></li>
        <li class="cancel" style="display: none"><a href="javascript:void(0);"><i class="fa fa-close"></i>取消</a></li>
    </ul>
    <div>
        <div class="pushUserTree">
        </div>
        <div class="pushUserContent">
            <form class="form-horizontal clientForm">
                <div class="form-group form-group-sm">
                    <label class="col-sm-3 col-md-3 control-label">姓名：</label>
                    <div class="col-sm-9 col-md-9">
                        <input type="text" class="form-control name" placeholder="输入姓名">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-3 col-md-3 control-label">手机：</label>
                    <div class="col-sm-9 col-md-9">
                        <input type="text" class="form-control phone" placeholder="输入手机号">
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-sm-3 col-md-3 control-label">邮箱：</label>
                    <div class="col-sm-9 col-md-9">
                        <input type="text" class="form-control email" placeholder="输入邮箱地址">
                    </div>
                </div>
            </form>
            <form class="form-horizontal groupForm" style="display: none">
                <div class="form-group form-group-sm">
                    <label class="col-sm-3 col-md-3 control-label">分组：</label>
                    <div class="col-sm-9 col-md-9">
                        <input type="text" class="form-control name" placeholder="分组名称">
                    </div>
                </div>
            </form>
            <from class="form-horizontal cmd">
                <div class="form-group">
                    <div class="col-sm-offset-3 col-md-offset-3 col-sm-9 col-md-9">
                        <button type="button" class="btn btn-primary save" >保 存</button>
                        <button type="button" class="btn btn-default cancel">取 消</button>
                    </div>
                </div>
            </from>
        </div>
    </div>
</div>