<div>
    <div class="mainSearch">
    </div>
    <div class="menuFix">
        <div class="menuShim"></div>
        <div class="menuPanel">
            <div class="menuHeader" style="height: 44px; border-bottom: 1px solid #ddd;">
                <span style="line-height: 44px; float: left; margin-left: 18px; font-size: 15px">我的导航</span>
                <i class="fa fa-angle-double-left pull-right" style="line-height: 44px; font-size: 22px; margin-right: 25px; cursor:pointer; color:#9a9999"></i>
            </div>
            <div class="menuContainer customscrollbar">
                <div style="width: 100%;">
                    <ul class="list-unstyled menuLink">
                        <li data="star">
                            <i class="fa fa-star"></i><span>关注列表</span>
                        </li>
                        <li data="mine">
                            <i class="fa fa-plug"></i><span>我的设备</span>
                        </li>
                        <li data="discovery">
                            <i class="fa fa-binoculars" style="font-size:19px"></i><span>发现</span>
                        </li>
                    </ul>
                    <ul class="list-unstyled serviceLink" style="border-top: 1px solid #ddd;">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="leftSlider">
        <div class="sliderResult s1">
            <div class="searchResult">
                <div>
                </div>
                <div class="searchResultContainer">
                </div>
            </div>
            <div class="menuResult">
                <span class="menuS"><div></div></span>
                <span class="closeMenu"><div></div></span>
            </div>
        </div>
    </div>
    <div class="mainMap"></div>
    <div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body" style="padding: 0px">
                </div>
            </div>
        </div>
    </div>
    <div class="iframeContainer">
        <div class="iframeNav">
            <i class="fa fa-long-arrow-left"></i>
            <div><span class="title"></span></div>
            <div></div>
        </div>
        <iframe></iframe>
    </div>
</div>