<div>
    <div class="steps">
        <div class="customScrollbar">
            <div class="widget-head-color-box navy-bg p-lg text-center" style="margin-top: 0px; background-color: #78A9A5; border-radius: 0px">
                <div class="m-b-md">
                <h2 class="font-bold no-margins unm"></h2>
                    <small class="uid"></small>
                </div>
                <div class="icon m-b-md">
                    <div class="center">
                        <img src="../javascript/_html/common/linkimg/user.png">
                    </div>
                </div>
                <div>
                    <span class="openCount"></span> |
                    <span class="crtTs"></span>
                </div>
            </div>
            <div class="widget-text-box">
                <table>
                </table>
            </div>
        </div>
        <div class="commonDetail">
        </div>
    </div>
</div>