<div>
    <div class="search">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control nameOrId" placeholder="账号或姓名搜索...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>
        <div style="position: relative;left: 110%;top: -25px;">
            <label class="checkbox-inline">
                <input type="radio" class="one" checked="checked" value="0" name="check">&nbsp;
                <small>待审核</small>
            </label>
            <label class="checkbox-inline">
                <input type="radio" class="two" value="1" name="check">&nbsp;
                <small>已审核</small>
            </label>
            <label class="checkbox-inline">
                <input type="radio" class="three" value="2" name="check">&nbsp;
                <small>未通过审核</small>
            </label>
        </div>
    </div>
    <div class="content">          
        <div class="grid">
		    <div>
				<div class="gridContainer" style="width:100%;height:100%"></div>
			</div>
			<div class="svPage">
				<i class="fa fa-arrow-left"></i> 
				<i class="fa fa-arrow-right"></i> 
				<input type="text" class="form-control currentPage"> <span>/&nbsp;</span>
				<span class="totalPage"></span>
			</div>
		</div>
        <div class="detail">
        	<div class="detailCC">
        		<form class="form-horizontal" style="margin-top:13px;">
	                <div class="form-group form-group-sm">
	                    <label class="col-sm-3 col-md-3 control-label">姓名：</label>
	                    <label class="col-sm-8 col-md-8 control-label labelForVal name"></label>
	                </div>
	                <div class="form-group form-group-sm">
	                    <label class="col-sm-3 col-md-3 control-label">身份证号：</label>
	                    <label class="col-sm-8 col-md-8 control-label labelForVal idNumber"></label>
	                </div>
	                <div class="form-group form-group-sm">
	                    <label class="col-sm-3 col-md-3 control-label">身份证正面：</label>
	                    <div class="col-sm-8 col-md-8 idPhotoA">
	                        <img class="pull-left">
                        </div>
	                </div>
	                <div class="form-group form-group-sm">
	                    <label class="col-sm-3 col-md-3 control-label">身份证反面：</label>
	                    <div class="col-sm-8 col-md-8 idPhotoB">
	                        <img class="pull-left">
                        </div>
	                </div>
	                <div class="form-group form-group-sm">
	                    <label class="col-sm-3 col-md-3 control-label">电话号码：</label>
	                    <label class="col-sm-8 col-md-8 control-label labelForVal phone"></label>
	                </div>
	                <div class="form-group form-group-sm">
	                    <label class="col-sm-3 col-md-3 control-label">申请时间：</label>
	                    <label class="col-sm-8 col-md-8 control-label labelForVal upt_ts"></label>
	                </div>
	                <div class="form-group form-group-sm">
	                    <label class="col-sm-3 col-md-3 control-label">认证情况：</label>
	                    <label class="col-sm-8 col-md-8 control-label labelForVal result"></label>
	                </div>
	                <div class="checkBtn text-center" style="margin-top: 4px;">
						<button type="button" class="btn btn-warning btn-sm pass disabled" disabled style="margin-right: 30px; margin-top: 2px">通过</button>
						<button type="button" class="btn btn-warning btn-sm refuse disabled" disabled style="margin-top: 2px">拒绝</button>
					</div>		
	            </form>
        	</div>
        </div>
    </div>
    <div class="modal fade failEdit" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document" style="max-width: 500px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">失败原因</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" style="width: 19%;">失败原因</label>
                                <div class="col-sm-9" style="padding-left:0px">
                                    <div class="form-group">
                                        <textarea class="form-control reason" style="height: 100px" placeholder="请输入审核的原因，多条请回车"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">取 消</button>
                    <button type="button" class="btn btn-primary sure">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>