<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li data="notes"><a href="javascript:void(0);">通知消息</a></li>
                    <li data="warns"><a href="javascript:void(0);">设备告警</a></li>
                </ul>
            </div>
            <i class="fa fa-refresh hvr-pop" title="刷新"></i>
        </div>
    </nav>
    <div class="content">
        <div class="notes">
        </div>
        <div class="warns">
        </div>
    </div>
</div>