<div>
    <div class="page notes">
        <div class="infoHead">
            <div>
                <span style="font-size: 14px; color: #334b62"><i class="fa fa-comments-o" style="font-size:16px; margin-right:4px"></i><span></span></span>
                <a href="javascript:void(0);" style="margin-left: 10px;" class="readAll">已读所有</a>
            </div>
        </div>
        <div class="itemList">
        </div>
    </div>
	<div class="page warns">
        <div class="infoHead">
            <div>
                <span style="font-size: 14px; color: #334b62"><i class="fa fa-exclamation-triangle" style="font-size:14px; margin-right:4px; color:#828282"></i><span></span></span>
                <a href="javascript:void(0);" style="margin-left: 10px;" class="closeAll" bindAuth="{updateWarn put}">关闭所有</a>
            </div>
        </div>
        <div class="itemList">
        </div>
    </div>
</div>