<div>
	<form class="form-horizontal">
        <div class="form-group form-group-sm">
            <label class="col-sm-3 col-md-3 control-label">关联元数据：</label>
            <div class="col-sm-6 col-md-6">
                <select class="form-control refMetaId"></select>
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="col-sm-3 col-md-3 control-label">函数公式：</label>
            <div class="col-sm-6 col-md-6">
                <input type="text" class="form-control func" placeholder="元数据值用{x}代替. 数学公式参考 js中 Math对象">
            </div>
        </div>
    </form>
</div>