<div>
    <div class="upgNav">
        <nav class="navSteps">
            <ol>
                <li class="step2 current"><em>购买</em></li>
                <li class="step3"><em>支付</em></li>
                <li class="step4"><em>完成</em></li>
            </ol>
        </nav>
    </div>
    <div class="steps">
        <div class="step2">
            <div>
                <form class="form-horizontal">
                    <div class="form-group form-group-sm">
                        <label class="col-sm-5 col-md-5 control-label">购买</label>
                        <div class="col-sm-5 col-md-5">
                            <div class="selBuy"></div>
                        </div>
                    </div>
                    <div class="form-group form-group-sm">
                        <label class="col-sm-5 col-md-5 control-label">费用</label>
                        <label class="col-sm-5 col-md-5 control-label feeLabel" style="text-align: left">--</label>
                    </div>
                </form>
            </div>
            <div class="btnRow">
                <button type="button" class="btn btn-primary next">下一步</button>
            </div>
        </div>
        <div class="step3">
            <div class="pay">
            </div>
            <div class="btnRow">
                <button type="button" class="btn btn-default prev">上一步</button>
            </div>
        </div>
        <div class="step4">
            <div class="finalInfo">
                <span style="font-size: 16px;"><i class="fa fa-check-circle-o" aria-hidden="true"></i>购买成功</span>
                <span class="usedDeadLine"></span>
            </div>
            <div class="btnRow">
                <button type="button" class="btn btn-default">关 闭</button>
            </div>
        </div>
    </div>
</div>