<div>
    <div class="outer customScrollBar">
        <div class="inner">
            <div class="baseInfo">
                <div class="box">
                    <form role="form">
                        <div class="form-group"><label>设备标识：</label><span class="info c_id"></span></div>
                        <div class="form-group"><label>名<span style="opacity: 0">非空</span>称：</label><span
                                class="info c_nm"></span></div>
                        <div class="form-group"><label>所属用户：</label><span class="info u_nm"></span></div>
                        <div class="form-group"><label>创建日期：</label><span class="info crt_ts"></span></div>
                        <div class="form-group"><label>生产厂家：</label><span class="info mf_nm"></span></div>
                        <div class="form-group"><label>设备型号：</label><span class="info pd_nm"></span></div>
                        <div class="form-group"><label>是否公开：</label><span class="info c_public"></span></div>
                    </form>
                </div>
            </div>
            <div class="metalabel">元数据</div>
            <div class="matadata">
                <ul class="list-group">
                </ul>
            </div>
        </div>
    </div>
    <div class="back">
        <i class="return fa fa-angle-left pull-left prev"></i>
        <span class="svName"></span>
    </div>
</div>