<div>
    <div class="steps">
        <div class="view">
            <div class="cover"></div>
            <form class="navbar-form searchAll" role="search">
                <button type="button" class="btn btn-default btn-circle btn-lg pull-right">
                    <i class="fa fa-search"></i>
                </button>
                <div class="input-group input-group-sm pull-right">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
            <div class="mheader">我的设备</div>
            <div class="viewContent">
                <div class="treeView"></div>
                <div class="mapView"></div>
            </div>
            <button type="button" class="btn btn-primary btn-circle btn-lg switchBtn">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="detail">
            <div class="mheader">设备详情</div>
            <div></div>
        </div>
    </div>
</div>