<div class="container-fluid">
    <div class="row">
        <form class="text-center center animated fadeInDown">
         	<div class="icon">
         		<h2>重置密码</h2>
         	</div>
            <div class="form-group">
                <input type="password" class="form-control pwd" placeholder="新密码">
            </div>
            <div class="form-group">
                <input type="password" class="form-control pwd2" placeholder="再次输入新密码">
            </div>
            <div class="form-group finished pt" style="display: none">
                <p>重置密码成功，3秒后跳转至<a href="javascript:void(0);">平台</a></p>
            </div>
            <button type="button" class="btn btn-success">重置密码</button>
         </form>
         <p class="copyright">
             <small>© 2016 ckxhtd.com, all rights reserved</small>
         </p>
    </div>
</div>

