<div class="customScrollBar">
    <div class="rptCC">
        <div class="rpt amount">
            <div style="height: 40px;">
                <div>
                    <span style="font-weight: bold">审核通过：</span><span class="okCount"></span>
                    <span style="font-weight: bold; margin-left: 50px;">已认证：</span><span class="reliabledCount"></span>
                    <span style="font-weight: bold; margin-left: 50px;">待审核：</span><span class="underReviewCount"></span>
                    <span style="font-weight: bold; margin-left: 50px;">审核失败：</span><span class="disabledCount"></span>
                </div>
            </div>
            <div style="top: 40px;">
                <div class="chart"></div>
                <div class="tpSel"></div>
            </div>
        </div>
        <div class="rpt hottest" style="width: 400px;">
            <div style="top: 0px; padding: 0px; border: none; height: 100%">
                <div class="grid"></div>
            </div>
        </div>
        <div class="rpt mostUsed" style="width: 400px;">
            <div style="top: 0px; padding: 0px; border: none; height: 100%">
                <div class="grid"></div>
            </div>
        </div>
        <div class="rpt purchase">
            <div style="height: 40px;">
                <div>
                    <span style="font-weight: bold">总购买额：</span><span class="purchaseAmount"></span>
                </div>
            </div>
            <div style="top: 40px;">
                <div class="chart"></div>
                <div class="tpSel"></div>
            </div>
        </div>
        <div class="rpt profit" style="width: 350px;">
            <div style="height: 40px; border-bottom: none;">
                <div>
                    <span style="font-weight: bold">总共支付开发者：</span><span class="profitAmount"></span>
                </div>
            </div>
            <div style="top: 40px;">
                <div class="grid"></div>
            </div>
        </div>
        <div class="rpt reliable">
            <div style="height: 40px;">
                <div>
                    <span style="font-weight: bold">总认证额：</span><span class="reliableAmount"></span>
                </div>
            </div>
            <div style="top: 40px;">
                <div class="chart"></div>
                <div class="tpSel"></div>
            </div>
        </div>
        <div class="rpt net">
            <div style="height: 40px;">
                <div>
                    <span style="font-weight: bold">总净收益：</span><span class="netAmount"></span>
                </div>
            </div>
            <div style="top: 40px;">
                <div class="chart"></div>
                <div class="tpSel"></div>
            </div>
        </div>
    </div>
</div>