<div class="container-fluid">
    <div class="row">
        <form class="text-center center animated fadeInDown">
         	<div class="icon">
         		<h2>找回密码</h2>
         	</div>
            <div class="form-group pt" style="">
                <p>输入您注册时使用的邮箱地址，将给您发送重置密码的邮件</p>
            </div>
            <div class="form-group">
                <input type="text" class="form-control uid" placeholder="邮箱">
            </div>
            <div class="form-group finished pt" style="display: none">
                <p>邮件发送成功，请在10分钟内查收</p>
            </div>
            <button type="button" class="btn btn-success"  disabled="disabled">发送邮件</button>
            <a href="javascript:void(0);">登陆</a>
         </form>
         <p class="copyright">
             <small>© 2016 ckxhtd.com, all rights reserved</small>
         </p>
    </div>
</div>

