<div class="input-group input-group-lg init">
    <span class="input-group-addon menu">
        <div></div>
    </span>
    <input type="text" class="form-control" style="font-size: 15px; padding-right: 0px; padding-left:10px" placeholder="搜索">
    <span class="input-group-addon remove">
        <div></div>
    </span>
    <span class="input-group-addon split">
        <div></div>
    </span>
    <span class="input-group-addon search">
        <div></div>
    </span>
    <ul class="list-unstyled">
    </ul>
</div>