<div class="showCover">
    <div class="head">
        <span style="font-weight: bold;"></span>
        <ul class="list-inline">
            <li class="append"><a href="javascript:void(0);" title="新增"><i class="fa fa-plus-circle"></i></a></li>
            <li class="delete"><a href="javascript:void(0);" title="删除"><i class="fa fa-minus-circle"></i></a></li>
            <li class="ok" style="display: none"><a href="javascript:void(0);"><i class="fa fa-trash-o"></i>确定</a></li>
            <li class="cancel" style="display: none"><a href="javascript:void(0);"><i class="fa fa-close"></i>取消</a></li>
        </ul>
    </div>
    <ul class="infoContainer tag-list">
    </ul>
    <div class="cover">
    </div>
</div>