<div class="container-fluid">
    <div class="row">
        <form class="text-center center animated fadeInDown">
         	<div class="icon">
         		<h2>用户验证</h2>
         	</div>
            <div class="form-group pt">
                <p>请完善如下的信息进行验证</p>
            </div>
            <div class="form-group areaForm">
                <label style="font-size: 14px;">运维区域：</label>
                <label class="area"></label>
                <i class="fa fa-bars fa-lg" title="选择区域"></i>
            </div>
            <div class="form-group">
                <input type="password" class="form-control pwd" placeholder="密码">
            </div>
            <div class="form-group">
                <input type="password" class="form-control pwd2" placeholder="再次输入密码">
            </div>
            <div class="form-group">
                <input type="text" class="form-control phone" placeholder="手机号">
            </div>
            <div class="form-group verifyDiv">
                <input type="text" class="form-control verify" placeholder="验证码">
				<button type="button" class="btn btn-link"  disabled="disabled">获取</button>
            </div>
            <div class="form-group finished pt" style="display: none">
                <p>验证成功，3秒后跳转至<a href="javascript:void(0);">平台</a></p>
            </div>
            <button type="button" class="btn btn-success save">完成</button>
         </form>
         <p class="copyright">
             <small>© 2016 ckxhtd.com, all rights reserved</small>
         </p>
    </div>
</div>

